<% if user_signed_in? %>
<div class="row">
  <div class="medium-12 large-6 columns"><div id="line-chart" style="min-width: 310px; height: 400px; margin: 0 auto"></div></div>
  <div class="medium-12 large-6 columns"><div id="pie-chart" style="min-width: 310px; height: 400px; margin: 0 auto"></div></div>
</div>
<% else %>
  <div class="text-center">
    <h1>Yoo! Welcome to RateMyDay!</h1>
    <h3>Please <%= link_to 'sign in', user_sign_in_path %> to start rate your day.</h3>
  </div>
<% end %>

<div class="text-center">
<div id="myModal" class="reveal-modal" data-reveal>
  <div class="text-center">
    <% messages = ["How was your day playa?", "What upppp homie?", "Keeping it real?", "Going hard?", "Living it up?"] %>
    <h2><%= messages.sample %></h2>
    <input type="hidden" class="rating" data-filled="fa fa-heart fa-3x" data-empty="fa fa-heart-o fa-3x" data-start="1" data-stop="11"/>
  </div>
  <a class="close-reveal-modal">&#215;</a>
</div>
